<h1>Login successful - This is a restricted area - only for logged in users</h1>

<img src="/images/cat.jpg" alt="cat"></img>

<br> <br>

<a href="/private">Go to see your fav gif</a>

<br> <br>

<a href="/">Back to starter page</a>

<a href="/logout">Logout</a>