<h1>Login successful - This is a restricted area - only for logged in users</h1>
<br>
<img src="https://upload.wikimedia.org/wikipedia/de/a/a8/Sprungturmwurm.gif" alt=""></img>

<br> <br>

<a href="/main">Go back to first private page</a>